*{
    box-sizing: border-box;
    position: relative;
    min-width: 0;
    margin: 0;
    padding: 0;
}

:root {
    --first-color-alt: #2B1712;
    --first-color:#492D26;
    --first-color-light:#65463E;
    --second-color:#DDB66F;
    --title-color:#2E2624;
    --text-color:#5B4C48;
    --text-color-light:#847571;
    --white-color:#FFFFFF;
    --body-color:#FFEFEB;
}

body{
    min-height: 100dvh;
}

h1, h2, h3, h4{
    text-align: center;
    text-wrap: balance;
}

h1{
    color: var(--white-color);
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Pacifico", serif;
    font-size: 1.78rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

h4, p, a, span, .single-step{
    text-wrap: pretty;
    font-family: "Poppins", serif;
}

header{
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    border-bottom: 2px dashed;
    border-color: var(--text-color-light);
}

.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--first-color-alt);
    background: linear-gradient(var(--first-color), var(--first-color-alt)); 
}

.home-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 50px;
}

.home-data h4{
    font-weight: 500;
    font-style: normal;
    font-size: .938rem;
    color: var(--second-color);
    margin-bottom: 2rem;
}

.home-data p{
    color: var(--white-color);
}

.home-data p:nth-child(2){ 
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 2.75rem;
    line-height: .5rem;
}

.home-data p:nth-child(3){
    margin-top: 2rem;
    font-style:normal;
    font-weight: 300;
}

.home-data img{
    padding-top:15px;
    margin-bottom: -25px;
}

.coffee-btn{
    width: 176px;
    height: 56px;
    margin: 2rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 65px;
    background-color: var(--second-color);
    -webkit-box-shadow: 0px 8px 32px 0px rgba(221, 183, 112, 0.25);
    -moz-box-shadow: 0px 8px 32px 0px rgba(221, 183, 112, 0.25);
    box-shadow: 0px 8px 32px 0px rgba(221, 183, 112, 0.25);
    color: var(--title-color);
    gap: 20px;
    text-decoration: none;
}

.coffee-btn span{
    border-right: solid 2px;
    border-top: solid 2px ;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
}

.home-coffee{
    padding-bottom: 200px;
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 56px 56px 0 0;
    background-color: var(--first-color);
    padding: 2rem 0 0 0;
    margin-top: -100px;
    padding-bottom: 200px;
}

.scroll-down-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--first-color-alt);
    color:var(--white-color);
    -webkit-box-shadow: 0px 8px 24px 0px rgba(27, 17, 14, 0.5);
    -moz-box-shadow: 0px 8px 24px 0px rgba(27, 17, 14, 0.5);
    box-shadow: 0px 8px 24px 0px rgba(27, 17, 14, 0.5);
    width: 176px;
    height: 56px;
    border-radius: 64px;
    text-decoration: none;
    gap: 20px;
    margin-bottom: 20px;
}

.scroll-down-btn span{
    border-bottom: solid 2px;
    border-right: solid 2px ;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
}

.products p{
    width: 70%;
    color: var(--white-color);
}

.product-showcase{
    display: flex;
    flex-wrap: wrap;
    color: var(--white-color);
    font-family: "Pacifico", serif;
    width: 70%;
}

.single-product figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    border-radius: 56px 56px 0 0;
    margin-top: -100px;
    background-color: var(--white-color);
    padding-bottom: 200px;
}

.about-data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.about-data p{
    margin-bottom: 50px;
}

.steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 56px 56px 0 0;
    margin-top: -100px;
    padding-top: 50px;
    background-color: var(--first-color);
    background-image: url("../img/bg-coffee-beans 1.webp");
    background-repeat: no-repeat;
    background-position: left;
    color: var(--white-color);
}

.steps h3{
    width: 95%;
}

.process-container{
    align-items: center;
    width: 90%;
    height: 40%;
    background-image: url("../img/Steps\ line\ dashed\ 2.svg");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-x: 65%;
    background-position-y: 35%;
}

.single-step{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.step-img-group{
    display: flex;
    flex-direction: column;
}

.single-step figure{
    display: flex;
    flex-direction: column;
}

.single-step img{
    width: 166px;
    height: 166px;
    border-radius: 100px;
    background-color: var(--first-color-light);
    padding-top: 10px;
}

.single-step span{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    z-index: 2;
    background-color: var(--second-color);
    color: var(--first-color);
    outline: solid 10px var(--first-color);
    border-radius: 50px;
    font-size: 24px;
}

.single-step:nth-child(odd) figure{
    align-items: end;
    text-align: right;
}

.single-step p{
    width: 70%;
}